#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <300>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    flavor = "tap-preferred";
};

&lt { tapping-term-ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";



        tab {
            bindings = <&kp TAB>;
            key-positions = <2 3>; // W and E 
        };

        combo_bspc {
            bindings = <&kp BSPC>;
            key-positions = <8 9>; // I and O
        };

        resetl {
            bindings = <&sys_reset>;
            key-positions = <13 14 15 16>; // A, S, D, F
            timeout-ms = <200>;

        bootl {
            bindings = <&bootloader>;
            key-positions = <1 2 3 4>; // Z, X, C, V
            timeout-ms = <200>;
        };

        };

        resetr {
            bindings = <&sys_reset>;
            key-positions = <19 20 21 22>; // J, K, L, ;
            timeout-ms = <200>;
        };

        bootr {
            bindings = <&bootloader>;
            key-positions = <7 8 9 10>; // Z, X, C, V
            timeout-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;

            bindings = <
&none  &kp Q             &kp W              &kp E      &kp R         &kp T          &kp Y      &kp U      &kp I      &kp O               &kp P               &none
&none  &mt LEFT_SHIFT A  &mt LEFT_CONTROL S &kp D      &kp F         &kp G          &kp H      &kp J      &kp K      &mt RIGHT_CONTROL L &mt RIGHT_SHIFT SEMI &none
&none  &kp Z             &kp X              &kp C      &kp V         &kp B          &kp N      &kp M      &kp COMMA  &kp DOT             &kp FSLH            &none
                                            &mo 2  &mo 1  &mt LEFT_GUI ENTER &kp SPACE  &kp LEFT_ALT     &kp LEFT_CONTROL
            >;
        };

        lower_layer {
            display-name = "lower";
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &trans &trans &trans   &trans &trans &trans
            >;
        };

        raise_layer {
            display-name = "raise";
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &trans &trans &trans   &trans &trans &trans
            >;
        };
        
        extra_layer0 {
            display-name = "extra_layer0";
            status = "reserved";
        };

        extra_layer1 {
            display-name = "extra_layer1";
            status = "reserved";
        };

        extra_layer2 {
            display-name = "extra_layer2";
            status = "reserved";
        };
    };
};
